# Python Files
__pycache__

# Django
/static/*

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

# Secret Files
.ebextensions/*secret.config

# Logs
*.log
*.log.*