amqp==2.1.1
billiard==3.5.0.2
celery==4.0.0
Django==1.10.3
django-extensions==1.7.4
django-redis==4.6.0
dropbox==7.1.1
kombu==4.0.0
psycopg2==2.6.2
pyactiveresource==2.1.2
pytz==2016.7
PyYAML==3.12
redis==2.10.5
requests==2.12.1
ShopifyAPI==2.1.8
six==1.10.0
typing==3.5.2.2
urllib3==1.19.1
vine==1.1.3
