option_settings:
  aws:elasticbeanstalk:application:environment:
    # Common
    RDS_HOSTNAME: theiadb.clp9jja1xqlk.us-east-1.rds.amazonaws.com
    RDS_PORT: 5432
    REDIS_DOMAIN: 'theia-api-dev.iby5d3.0001.use1.cache.amazonaws.com'

    # Development
    DEV_RDS_USERNAME: api_development
    DEV_RDS_DB_NAME: api_development
    DEV_REDIS_DB: 0

    # Staging
    STAGE_RDS_USERNAME: api_staging
    STAGE_RDS_DB_NAME: api_staging
    STAGE_REDIS_DB: 1
    
    # Production
    PROD_RDS_USERNAME: api_production
    PROD_RDS_DB_NAME: api_production
    PROD_REDIS_DB: 2
