option_settings:
  aws:elasticbeanstalk:application:environment:
    # Common
    RDS_HOSTNAME: theiadb.clp9jja1xqlk.us-east-1.rds.amazonaws.com
    RDS_PORT: 5432

    # Development
    DEV_RDS_USERNAME: api_development
    DEV_RDS_DB_NAME: api_development

    # Staging
    STAGE_RDS_USERNAME: api_staging
    STAGE_RDS_DB_NAME: api_staging
    
    # Production
    PROD_RDS_USERNAME: api_production
    PROD_RDS_DB_NAME: api_production
