container_commands:
  10_migrate:
    command: "python manage.py migrate --noinput"
    leader_only: true

  20_create_admin:
    command: "python scripts/create_admin.py"
    leader_only: true

  # 30_collectstatic:
  #   command: "python manage.py collectstatic --noinput &> /tmp/collectstatic-output"
