container_commands:
  10_migrate:
    command: >
      source /opt/python/run/venv/bin/activate &&
      python manage.py migrate --noinput
    leader_only: true

  20_create_admin:
    command: >
      source /opt/python/run/venv/bin/activate &&
      python manage.py createsu
    leader_only: true

  30_collectstatic:
    command: >
      source /opt/python/run/venv/bin/activate &&
      python manage.py collectstatic --noinput &> /tmp/collectstatic-output

  40_create_log_dir:
    command: mkdir -p /opt/python/log/jsgroup-api-log
  41_change_log_dir_permissions:
    command: chmod g+s /opt/python/log/jsgroup-api-log
  42_change_log_dir_owner:
    command: chown wsgi:wsgi /opt/python/log/jsgroup-api-log
