container_commands:
  10_migrate:
    command: >
      source /opt/python/run/venv/bin/activate &&
      python manage.py migrate --noinput
    leader_only: true

  20_create_admin:
    command: >
      source /opt/python/run/venv/bin/activate &&
      python manage.py createsu
    leader_only: true

  30_collectstatic:
    command: >
      source /opt/python/run/venv/bin/activate &&
      python manage.py collectstatic --noinput &> /tmp/collectstatic-output
