files:
  "/opt/python/log/app.log":
    mode: "000666"
    owner: ec2-user
    group: ec2-user
    content: |
      # THEIA api log file
  "/opt/python/log/data_import.log":
    mode: "000666"
    owner: ec2-user
    group: ec2-user
    content: |
      # THEIA api log file
  "/opt/python/log/data_import.log.1":
    mode: "000666"
    owner: ec2-user
    group: ec2-user
    content: |
      # THEIA api log file
  "/opt/python/log/data_import.log.2":
    mode: "000666"
    owner: ec2-user
    group: ec2-user
    content: |
      # THEIA api log file
  "/opt/python/log/data_import.log.3":
    mode: "000666"
    owner: ec2-user
    group: ec2-user
    content: |
      # THEIA api log file
  "/opt/python/log/data_import.log.4":
    mode: "000666"
    owner: ec2-user
    group: ec2-user
    content: |
      # THEIA api log file
  "/opt/python/log/data_import.log.5":
    mode: "000666"
    owner: ec2-user
    group: ec2-user
    content: |
      # THEIA api log file
