option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: "wsgi.py"
  aws:elasticbeanstalk:container:python:staticfiles:
    "/static/": "static/"
  aws:autoscaling:launchconfiguration:
    InstanceType: t2.nano
  aws:elasticbeanstalk:environment:
    EnvironmentType: SingleInstance
  aws:elasticbeanstalk:managedactions:platformupdate:
    UpdateLevel: minor
  aws:ec2:vpc:
    VPCId: vpc-2626c840
    Subnets: subnet-3371157a
    AssociatePublicIpAddress: true
